doctype html

html

  head

    include includes/head.pug
    title Waking and Sleeping &ndash; Error
    meta(property="og:title" content="Waking and Sleeping – Error")

  body(class="error")

    block content
      h1= message
      h2= error.status
      pre #{error.stack}
