extends layout

block content
  header(id="header")
    h1 Waking and Sleeping
    p &ldquo;Good morning&rdquo; (yellow) and &ldquo;good night&rdquo; (blue) tweets, mapped.
    p A project by #[a(href="https://whykatherine.github.io") Katherine Yang]&mdash;read more on the #[a(href="https://github.com/whykatherine/wakingandsleeping") GitHub] page!
  div(id="mymap")
  script(src="/js/scripts.js")