extends layout

block content

  header(class="header")
    h1(class="title") Waking and Sleeping
    nav(class="nav")
      ul
        li: a(href="/") Map
        li: a(href="/about") About
    p(class="stats") #[span(id="duration") Within this minute], #[br] the world has been wished #[br] #[br] good morning #[br] #[span(class="counter") 0 times] #[br] #[br] and #[br] #[br] good night #[br] #[span(class="counter") 0 times]

  main(class="container" id="container")
    div(id="mymap")
    div(class="controls")
      //- toggle adapted from https://codepen.io/theawesomecoder61/pen/nigEq
      div(class="pinsDuration")
        input(type="radio" name="pinsDuration" id="perpetual" value="perpetual" class="toggle-radio")
        input(type="radio" name="pinsDuration" id="ephemeral" value="ephemeral" class="toggle-radio" checked)
        div(class="toggle")
          label(for="perpetual" class="toggle-label") Perpetual
          span(class="toggle-icon")
          label(for="ephemeral" class="toggle-label") Ephemeral
      p(class="alert" id="alert")
  
  script(src="/js/scripts.js")