extends layout

block content
  div(id="mymap")
  script(src="/js/scripts.js")
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io();
    socket.on('tweet', function (tweet) {
      console.log(tweet.latlng);
      console.log(tweet.text);
    });