doctype html

html

  head

    include includes/head.pug
    title Waking and Sleeping
    meta(property="og:title" content="Waking and Sleeping")
    meta(property="og:url" content="https://wakingandsleeping.glitch.me")

  body

    header(class="header header-withlog")
      div(class="info")
        h1(class="title") Waking and Sleeping
        nav(class="nav")
          ul
            li: a(href="/") Map
            li: a(href="/about") About
        p(class="stats") #[span(id="duration") In the past 0 minutes], #[br] the world has been wished #[br] #[br] #[span(class="morning") good morning] #[br] #[span(class="counter morning") 0 times] #[br] #[br] and #[br] #[br] #[span(class="night") good night] #[br] #[span(class="counter night") 0 times]
      div(class="log" id="log")

    main(class="container container-withmap")
      div(id="mymap")
      div(class="controls")
    
    script(src="/js/page.js")
    script(src="/js/tweets.js")