extends layout

block content

  div(class="container" id="container")
    div(id="mymap")
    div(class="controls")
      //- toggle adapted from https://codepen.io/theawesomecoder61/pen/nigEq
      div(class="pinsDuration")
        input(type="radio" name="pinsDuration" id="perpetual" value="perpetual" class="toggle-radio")
        input(type="radio" name="pinsDuration" id="ephemeral" value="ephemeral" class="toggle-radio" checked)
        div(class="toggle")
          label(for="perpetual" class="toggle-label") Perpetual
          span(class="toggle-icon")
          label(for="ephemeral" class="toggle-label") Ephemeral
      p(class="alert" id="alert")
  
  script(src="/js/suncalc.min.js")
  script(src="/js/scripts.js")