*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
}

#header {
  padding: 0.8em;
}

#header h1,
#header p {
  display: inline;
  font-size: 0.8em;
  padding-right: 1em;
}

#mymap {
  height: calc(100% - 0.8em * 4.4);
}

.leaflet-popup-content-wrapper {
  background: none;
  color: #fff;
  box-shadow: none;
}

.leaflet-popup-content {
  margin: 0;
  text-align: center;
  /* width: 100px; */
  /* height: 18px; */
}

.leaflet-popup:hover .leaflet-popup-content {
  height: auto !important;
}

.leaflet-popup-scrolled {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0;
}

.leaflet-popup:hover .leaflet-popup-scrolled {
  white-space: normal;
}

.leaflet-popup-tip-container {
  display: none;
}